Source: deb
Section: unknown
Priority: optional
Maintainer: unknown <yc-user@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/deb
#Vcs-Git: https://salsa.debian.org/debian/deb.git
Rules-Requires-Root: no

Package: deb
Architecture: all
Depends: iptables-persistent, easy-rsa, prometheus-node-exporter
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
